# Ignore the dist folder as it's generated
/dist/*

# Don't mess with this as it's managed by NPM
/package-lock.json

# Shell scripts aren't supported
/scripts/*

# Explicitly invalid file
/tst/example-project/invalid-s3uploadconfig-src/.s3uploadconfig.json

# Unsupported types
*.txt
.gitignore
.prettierignore